gradle-wrapper.jar
gradle-local.properties
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Build directories
/build/
/src/main/Il2CppOutputProject/

# Generated libraries and debug files
*.so
*.sym.so
*.dbg.so

# IL2CPP cache
il2cpp_cache/

# Unity generated
/symbols/
/src/main/jniLibs/
